@charset "utf-8"

//  import variables
@import "~bulma/sass/utilities/initial-variables"

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700|Righteous')

// config vars
$primary: #121212
$bg-white: #fafafa
$black: #000000
$grey: #8B8B8B
$grey-footer: #E5E5E5
$grey-shadow: #8b8b8b50

// body
$body-background-color: $bg-white

// title
$title-color: $black
$subtitle-color: $black

// text
$text: $black
$link: $primary
$body-family: "Poppins", "ALK Sanet", sans-serif
$title-family: false
$button-family: false

// breakpoints
$gap: 32px
$tablet: 769px
$desktop: 960px + (2 * $gap)
$widescreen: 1152px + (2 * $gap)
$fullhd: 1344px + (2 * $gap)
$widescreen-enabled: true
$fullhd-enabled: false

// layout
$column-gap: 0.3rem
$section-padding: 3rem 1.5rem
$section-padding-medium: 6rem 1.5rem
$section-padding-large: 9rem 1.5rem

// input
$input-border-color: none
$input-color: $black
$input-hover-border-color: $primary
$input-focus-border-color: $primary
$input-focus-box-shadow-color: none

// link
$link-hover: $primary

// notification
$notification-background-color: $grey

// modal
$modal-card-head-background-color: $bg-white
$modal-card-body-background-color: $bg-white
$modal-card-title-color: $black

.modal-text
  color: $black

.max-height
  max-width: 22rem

.is-cursor
  cursor: pointer

// masonry
.is-grid
  margin: 0 auto

// navbar
$navbar-height: 4.25rem
$navbar-item-img-max-height: 2.75rem
$navbar-background-color: $bg-white
$navbar-item-hover-background-color: $bg-white
$navbar-dropdown-background-color: $bg-white
$navbar-dropdown-border-top: 0px

.flex_wrap
  display: flex!important
  flex-wrap: wrap!important

.navbar-logo
  align-items: center
  padding-right: 1.3rem
  padding-left: 1.3rem
  display: flex
  word-spacing: 0.5rem
  letter-spacing: 0.2rem
  font-family: Righteous

.navbar-item
  color: $primary
  transition: 0.20s ease-in-out

a.navbar-item
  padding-right: 1.3rem
  padding-left: 1.3rem
  display: flex

.navbar-center
  flex-grow: 1
  justify-content: center

.navbar-brand .navbar-item.logo
  padding: 0 1rem

// footer
$footer-background-color: $grey-footer
$footer-color: $grey
$footer-padding: 2rem 2.0rem 2rem

.footer a
  color: $footer-color

.footer a:hover
  color: $primary
  text-decoration: underline
  transition: 0.20s ease-in-out

.footer-pads
  padding: 0.5rem

.footer-logo
  align-items: center
  padding-right: 1.3rem
  padding-left: 1.3rem
  word-spacing: 0.5rem
  letter-spacing: 0.2rem
  font-family: Righteous

.footer-center
  text-align: center

// contact page
.column-margin
	margin-top: 1rem

.hero
  margin-top: 1rem

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

//menu
$menu-item-color: $black
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $primary
$menu-item-active-background-color:	$primary
$menu-list-border-left: 1px solid $primary
$menu-label-color: $black

.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $black
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// selection color primary
::selection
	background-color: $primary
	color: #fff
::-moz-selection
	background-color: $primary
	color: #fff
::-o-selection
	background-color: $primary
	color: #fff
::-ms-selection
	background-color: $primary
	color: #fff
::-webkit-selection
	background-color: $primary
	color: #fff

// import bulma
@import "~bulma/bulma.sass"

// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%
  .grid
    margin: 0px -15px
+mobile
  .grid
    margin: 0px -15px
  .footer-left
    text-align: center
  .footer-right
    text-align: center
  .footer-center
    text-align: center
  .footer-column
    flex-direction: column-reverse
    display: flex
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center
    max-width: 70%
    margin: 0 0 1em
  .svg-size
    width: 15rem
    height: 15rem

.social-links
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: flex-start
  padding: 5%
  .SocialMediaShareButton
    margin: 0 5px

.description_padding
  padding-left: 5%

.post-tag-container
  padding-left: 5%
  a
   margin: 4px
   display: inline-block
